.hero {
  background: url('hero2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url('Prague.JPG') no-repeat center;
  margin-left: auto;
  margin-right: auto
  }

.circular_1 {
  width: 200px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url('Suit.JPG') no-repeat center;
  margin-left: auto;
  margin-right: auto
  }

.reduce {
  padding-top: 15px;
}

.frosty {
  background:rgba(0,0,0, 0.5);
}

.frosty h1 {
  color:#FF6600;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
  color:white;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
  border-radius:0;
}

.my-box {
  z-index:-1;
  margin-top:70px;
  position:relative;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}


.clr {
  clear:both;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:20px;
}

.my-box {
  background: #fff;
}

.booyah-box h2, .booyah-box h1 {
  margin:10px;
}


h1 {
  color:#212121;
  font-family: "Source Sans Pro", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-weight:600;
}

h2 {
  color:#727272;
  font-family: "Source Sans Pro", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-weight:300;
  font-size:40px;
}
h3 {
  color:#C2185B;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight:600;
  font-size:20px;
}

.my-box h1 {
  color:#212121;
  font-family: "Source Sans Pro", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-weight:600;
  font-size:50px;
}
@media screen and (max-width: 600px) {
  .my-box h1 {
    font-size:38px;
  }
}


.information {
  color: #727272;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0) 1px 1px;
  font-family: "Source Sans Pro", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
}

.information1 {
  color:#FFFFFF;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
  text-align: center;
  font-size: 250%;
  font-weight: bold;
}

.information2 {
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
}

.navbar.navbar-inverse {
  background-color: #333;
  position:fixed;
  width:100%;
  border-bottom: 1px solid #1a1a1a;  border-radius: 0;
  margin-bottom:0;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.navbar-inverse .navbar-brand {
  color: white;
  font-family: "Source Sans Pro", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size:30px;
  margin-left:4px;
  font-weight:600;
  margin-top:2px;
}

.writing {
  font-size: 16px;
}

.section {
  color:#FF0000;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0) 1px 1px;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  text-decoration: underline;
}

.subsection {
  color:#0000FF;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0) 1px 1px;
  text-align: left;
  font-size: 150%;
  font-weight: bold;
}

.subsection1 {
  color:#C0C0C0;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0) 1px 1px;
  text-align: left;
  font-size: 150%;
  font-weight: bold;
}
img.me {
  border-radius: 50%;
  width: 139px; /* divide by 2 for retina displays */
}

.my-btn, .my-btn:hover {
  background-color: #477DCA;
  border-radius: 3px;
  border: none;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-decoration: none;
  background-clip: padding-box;
  padding: 0.7em 1em;
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  text-shadow: none;
  text-transform:uppercase;
  font-size:24px;
}

.my-btn:hover {
  background-color: #578AD4;
}

.my-btn:hover