.hero {
  background: url('hero2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:700px;
}

.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url('Prague.JPG') no-repeat center;
  margin-left: auto;
  margin-right: auto
  }

.reduce {
  padding-top: 15px;
}
