<!DOCTYPE html>
<html>
 <title>Tater P</title>
  <link rel="icon" href="http://gcaptain.com/wp-content/uploads/2011/08/Transocean-t-logo.jpg" type="image/png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
